.card {
  width: 25%;
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: black;
  background-color: antiquewhite;
  text-decoration: none;
  border-radius: 10px;
  isolation: isolate;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card h2 {
  text-align: left;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

/* modal */
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  opacity: 0;
  transition: all 1s ease;
  transform: scale(0%);
}

.showImage {
  visibility: visible;
  opacity: 1;
  transform: scale(100%);
}

.modalCloseButton {
  color: white;
  position: absolute;
  right: 20px;
  font-size: 100px;
  cursor: pointer;
  z-index: 1;
}

.modalCloseButton:hover {
  color: red;
}

@media (max-width: 768px) {
  .card {
    width: 90%;
  }

  .grid {
    width: 100%;
    flex-direction: column;
  }

  .modalCloseButton {
    color: white;
    position: absolute;
    right: 20px;
    font-size: 50px;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
