.card {
  width: 25%;
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  background-color: antiquewhite;
  text-decoration: none;
  border-radius: 10px;
  isolation: isolate;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card h2 {
  text-align: left;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .card {
    width: 90%;
  }

  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
